<!DOCTYPE html>
<html>

<head>
    <title>Hello Azure - Go Quickstart</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<header>
    <h1>Welcome to Azure</h1>
</header>

<section>
    <img src="/assets/images/azure-icon.svg">
    <form method="post">
        <label for="form-label">Could you please tell me your name?</label><br>
        <input type="text" id="name" name="name" style="max-width: 256px;"><br>
        <button type="submit">Say Hello</button>
    </form>
</section>

</html>